

.header__top {
    margin: 15px 0 0 0;
    display: flex;
}
.top-header__logo {
    max-width: 100px;
    max-height: 23px;
}
.logo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.top-header__nav {
    margin: 1px 0 0 139px;
}
.top-list__item:nth-child(1) {
    margin: 0 79px 0 0;
}
.top-list__item:nth-child(2) {
    margin: 0 42px 0 0;
}
.top-list__item:nth-child(3) {
    margin: 0 61px 0 0;
}
.top-list__item:nth-child(4) {
    margin: 0 39px 0 0;
}
.top-list__item:nth-child(5) {
    margin: 0 79px 0 0;
}

.top-list {
    display: flex;
}
.top-header__breadcrumbs {
    margin: 0 0 0 138px;
    display: flex;
}
.breadcrumbs__item:not(:last-child) {
    margin: 0 26px 0 0;
}
.breadcrumbs__item {
    position: relative;
}
.breadcrumbs__item::after {
    position: absolute;
    content: '/';
    font-weight: 700;
    color: #C0C0C0;
    top: 1px;
    right: -16px;
}
.breadcrumbs__link {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #C0C0C0;
}
.breadcrumbs__link--active {
    color: #01BEDE;
}
.bg-header {
    background-color: #F3F6F9;
}
.header__bottom {
    display: flex;
    margin: 12px 0 0 0;
}
.bottom-header__dropdown {
    background-color: #01BEDE;
    transition: 0.3s ease-in-out;
}
.bottom-header__dropdown:hover {
    background-color: #09a4bf;
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}
.dropdown__btn {
    display: flex;
    align-items: center;
    padding: 25px 43px 26px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 119%;
    color: #FFFFFF;
}
.header-search {
    margin: 11px 0 0 54px;
    height: 47px;
    display: flex;
    align-items: center;
    flex: 0 1 600px;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
}
.header-search__input {
    padding: 13px 0 13px 10px;
    width: 545px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    color: #616D75;
    background-color: #FFFFFF;
    border: none;
}
.header-search__btn {
    width: 55px;
    height: 45px;
    background-color: #01BEDE;
    border-radius: 3px;
}
.dropdown__btn-img {
    margin: 0 4px 0 0;
}
.bottom-header__prospects {
    margin: 12px 54px 0 48px;
    display: flex;
}
.prostects__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prostects__items:nth-child(1) {
    margin: 0 46px 0 0;
}
.prostects__items:nth-child(2) {
    margin: 0 56px 0 0;
}
.bottom-header__profile {
    margin: 15px 0 0 0;
    display: flex;
}
.profile__bg {
    margin: 0 5px 0 0;
}
.profile__content {
    margin: 3px 0 0 0;
    display: flex;
    flex-direction: column;
}
.top-list__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 121%;
    color: #616D75;
}
.top-header__tel {
    display: inline-flex;
    max-width: 151px;
    width: 100%;
    align-items: center;
    margin: 0 0 0 52px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 121%;
    color: #616D75;
}
.tel-img {
    margin: 0 5px 0 0;
}
.prostects__text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #616D75;
}
.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #616D75;
}
.profile__balance {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: #616D75;
}