<section class="best-prices">
    <div class="container-fluid best-prices__container-fluid">
        <div class="main-head best-prices__head">
            <h2 class="main-head__title">
                Best prices
            </h2>
            <a href="#" class="main-head__link">
                Books with discounts
                <img src="./img/hero/top-arrow.svg" alt="иконка стрелки" class="main-head__img">
            </a>
        </div>
        <div class="best-prices__main">
            <div class="swiper-container main-slider">
                <div class="swiper-wrapper main-slider__wrapper">
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices1.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Уродина, в&nbsp;поисках пути к&nbsp;счастью и&nbsp;процветанию
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices2.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Золушка
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices3.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Уродина, в&nbsp;поисках пути к&nbsp;счастью и&nbsp;процветанию
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices4.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Уродина, в&nbsp;поисках пути к&nbsp;счастью и&nbsp;процветанию
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices5.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Уродина, в&nbsp;поисках пути к&nbsp;счастью и&nbsp;процветанию
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices6.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Уродина, в&nbsp;поисках пути к&nbsp;счастью и&nbsp;процветанию
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide main-slider__slide">
                        <a href="#" class="main-slider__item">
                            <article class="main-slider__article">
                                <div class="main-slider__bg">
                                    <img src="./img/best-prices/best-prices1.png" alt="картинка книги" class="main-slider__img">
                                    <small class="main-slider__text-red">Bestseller</small>
                                    <small class="main-slider__text-green">New</small>
                                    <small class="main-slider__text-blue">-90%</small>
                                </div>
                                <div class="main-slider__content">
                                    <h3 class="main-slider__title best-prices__title">
                                        Уродина, в&nbsp;поисках пути к&nbsp;счастью и&nbsp;процветанию
                                    </h3>
                                    <div class="main-slider__bottom">
                                        <small class="main-slider__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="main-slider__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev slider-btn-prev"></div>
                <div class="swiper-button-next slider-btn-next"></div>
            </div>
        </div>
    </div>
</section>