<footer class="footer">
  <div class="footer__bg">
    <div class="container-fluid footer__container-fluid">
      <div class="footer__top top-footer">
        <div class="top-footer__nav">
          <ul class="top-footer__list list-reset">
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Discount
              </a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Discount
              </a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Discount
              </a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Discount
              </a>
            </li>
          </ul>
          <ul class="top-footer__list list-reset">
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                TOP books
              </a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Popular
              </a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Payment
              </a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">
                Contract offer
              </a>
            </li>
          </ul>
        </div>
        <div class="top-footer__form">
          <form action="#" class="footer__form form-footer">
            <label for="#" class="form-footer__label">
              Request if&nbsp;you have any questions:
            </label>
            <div class="form-footer__content">
              <input type="text" class="form-footer__input" placeholder="Telephone number">
              <button class="form-footer__btn">Send</button>
            </div>
          </form>
        </div>
      </div>
      <div class="footer__bottom bottom-footer">
        <div class="bottom-footer__apps footer-apps">
          <small class="footer-apps__title">
            Mobile application:
          </small>
          <div class="footer-apps__btns">
            <button class="footer-apps__btn">
              <img src="./img/footer/google-play.svg" alt="иконка google-play" class="footer-apps__img">
            </button>
            <button class="footer-apps__btn">
              <img src="./img/footer/app-store.svg" alt="иконка app-store" class="footer-apps__img">
            </button>
          </div>
          <small class="footer-apps__text">&copy;2000&nbsp;&mdash; 2021 Elru.uz. All rights reserved.</small>
        </div>
        <div class="bottom-footer__socials footer-socials">
          <div class="footer-socials__content">
            <small class="footer-socials__title">Follow us on:</small>
            <ul class="footer-socials__list list-reset">
              <li class="footer-socials__item">
                <a href="#" class="footer-socials__link">
                  <img src="./img/footer/instagram.svg" alt="иконка инстаграма" class="footer-socials__img">
                </a>
              </li>
              <li class="footer-socials__item">
                <a href="#" class="footer-socials__link">
                  <img src="./img/footer/telegram.svg" alt="иконка телеграма" class="footer-socials__img">
                </a>
              </li>
              <li class="footer-socials__item">
                <a href="#" class="footer-socials__link">
                  <img src="./img/footer/facebook.svg" alt="иконка фейсбук" class="footer-socials__img">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
