<header class="header">
  <div class="container-fluid">
    <div class="container">
      <div class="header__top top-header">
        <a href="index.html" class="top-header__logo">
          <img src="./img/logo.svg" alt="логотип" class="logo">
        </a>
        <nav class="top-header__nav">
          <ul class="top-header__list top-list list-reset">
            <li class="top-list__item">
              <a href="catalog.html" class="top-list__link">Discounts</a>
            </li>
            <li class="top-list__item">
              <a href="#" class="top-list__link">TOP books</a>
            </li>
            <li class="top-list__item">
              <a href="#" class="top-list__link">News</a>
            </li>
            <li class="top-list__item">
              <a href="#" class="top-list__link">Оплата</a>
            </li>
            <li class="top-list__item">
              <a href="#" class="top-list__link">Feedback service</a>
            </li>
          </ul>
        </nav>
        <a href="tel:+998 99 314 42 63" class="top-header__tel">
          <img class="tel-img" src="./img/tel-icon.svg" alt="иконка телефона">
          +998 99&nbsp;314 42&nbsp;63
        </a>
        <ul class="top-header__breadcrumbs breadcrumbs list-reset">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link breadcrumbs__link--active">RU</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">EN</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">UZ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-header">
    <div class="container-fluid">
      <div class="container">
        <div class="header__bottom bottom-header">
          <div class="bottom-header__dropdown dropdown">
            <button class="dropdown__btn btn-reset">
              <p class="dropdown__text">Category</p>
            </button>
            <div class="dropdown__content">
              <ul class="dropdown__list list-reset">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Biznes
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Literature
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Detective
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    For kids
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Personal growth
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Psychology
                  </a>
                </li>
              </ul>
              <ul class="dropdown__list list-reset">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Marketing
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Management
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Medicine
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Oratory
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Prose
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Fantasy
                  </a>
                </li>
              </ul>
              <ul class="dropdown__list list-reset">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Family
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Economy
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Architecture
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Design
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Adventures
                  </a>
                </li>
              </ul>
              <ul class="dropdown__list list-reset">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Religion
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Health
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Biography
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Dictionary/Conversation
                  </a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">
                    Textbooks
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <form class="bottom-header__search header-search">
            <input class="header-search__input" placeholder="Enter book name, author ..." type="text">
            <button class="header-search__btn btn-reset">
              <img src="./img/search_icon.svg" alt="иконка лупы">
            </button>
          </form>
          <ul class="bottom-header__prospects prostects list-reset">
            <li class="prostects__items">
              <a href="#" class="prostects__link">
                <div class="prostects__bg">
                  <img src="./img/chat.svg" alt="иконка чата" class="prostects__img">
                </div>
                <small class="prostects__text">
                  Chat
                </small>
              </a>
            </li>
            <li class="prostects__items">
              <a href="#" class="prostects__link">
                <div class="prostects__bg">
                  <img src="./img/orders.svg" alt="иконка заказов" class="prostects__img">
                </div>
                <small class="prostects__text">
                  My orders
                </small>
              </a>
            </li>
            <li class="prostects__items">
              <a href="#" class="prostects__link">
                <div class="prostects__bg">
                  <img src="./img/basket.svg" alt="иконка корзины" class="prostects__img">
                </div>
                <small class="prostects__text">
                  Basket
                </small>
              </a>
            </li>
          </ul>
          <div class="bottom-header__profile profile">
            <div class="profile__bg">
              <img src="./img/profile-img.svg" alt="иконка профиля" class="profile__img">
            </div>
            <div class="profile__content">
              <small class="profile__name">abdu08</small>
              <small class="profile__balance">123&nbsp;000&nbsp;000 sum</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
