<section class="hero">
    <div class="container-fluid hero__container-fluid">
        <div class="hero__slider slider-hero">
            <div class="swiper-container hero-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider-hero__slide">
                        <div class="slider-hero__bg">
                            <img src="./img/hero/slider-hero1.png" alt="картинка слайдера" class="slider-hero__img">
                            <a href="#" class="slider-hero__link">Посмотреть
                                <img src="./img/hero/arrow.svg" alt="икнонка стрелки" class="hero-link">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide slider-hero__slide">
                        <div class="slider-hero__bg">
                            <img src="./img/hero/slider-hero1.png" alt="картинка слайдера" class="slider-hero__img">
                            <a href="#" class="slider-hero__link">Посмотреть
                                <img src="./img/hero/arrow.svg" alt="икнонка стрелки" class="hero-link">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide slider-hero__slide">
                        <div class="slider-hero__bg">
                            <img src="./img/hero/slider-hero1.png" alt="картинка слайдера" class="slider-hero__img">
                            <a href="#" class="slider-hero__link">Посмотреть
                                <img src="./img/hero/arrow.svg" alt="икнонка стрелки" class="hero-link">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide slider-hero__slide">
                        <div class="slider-hero__bg">
                            <img src="./img/hero/slider-hero1.png" alt="картинка слайдера" class="slider-hero__img">
                            <a href="#" class="slider-hero__link">Посмотреть
                                <img src="./img/hero/arrow.svg" alt="икнонка стрелки" class="hero-link">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide slider-hero__slide">
                        <div class="slider-hero__bg">
                            <img src="./img/hero/slider-hero1.png" alt="картинка слайдера" class="slider-hero__img">
                            <a href="#" class="slider-hero__link">Посмотреть
                                <img src="./img/hero/arrow.svg" alt="икнонка стрелки" class="hero-link">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next hero-btn-next"></div>
                <div class="swiper-button-prev hero-btn-prev"></div>
            </div>
        </div>
        <div class="hero__sales sales-hero">
            <ul class="sales-hero__list list-reset">
                <li class="sales-hero__item">
                    <article class="sales-hero__article">
                        <img src="./img/hero/hero-sales1.png" alt="картинка акции" class="sales-hero__img">
                    </article>
                </li>
                <li class="sales-hero__item">
                    <article class="sales-hero__article">
                        <img src="./img/hero/hero-sales2.png" alt="картинка акции" class="sales-hero__img">
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>