<section class="monthBook">
    <div class="container-fluid monthBook__container-fluid">
        <div class="main-head monthBook__head">
            <h2 class="main-head__title monthBook__head-title">Book of&nbsp;the month</h2>
        </div>
        <div class="monthBook__main main-monthBook">
            <div class="main-monthBook__bg">
                <img src="./img/bookOfTheMonth/bookOfTheMonth.png" alt="картинка книги" class="main-monthBook__img">
                <p class="main-monthBook__text">Новинка</p>
            </div>
            <div class="main-monthBook__content content-monthBook">
                <div class="content-monthBook__bg">
                    <img src="./img/bookOfTheMonth/book.png" alt="картинка книги" class="content-monthBook__img">
                </div>
                <h3 class="content-monthBook__title">
                    Красная таблетка
                </h3>
                <p class="content-monthBook__author">
                    Скотт Вестерфельд
                </p>
            </div>
        </div>
    </div>
</section>