<section class="news">
    <div class="container-fluid news__container-fluid">
        <div class="main-head news__head">
            <h2 class="main-head__title news-head__title">News</h2>
            <a href="#" class="main-head__link">
                All news
                <img src="./img/hero/top-arrow.svg" alt="иконка стрелки" class="main-head__img">
            </a>
        </div>
        <div class="news__content">
            <div class="news__item item-news">
                <div class="item-news__bg">
                    <img src="./img/news/news1.png" alt="картинка книг" class="item-news__img">
                </div>
                <div class="item-news__text">
                    <div class="item-news__words">
                        <h3 class="item-news__title">
                            Что читать на&nbsp;карантине?
                        </h3>
                        <p class="item-news__descr">
                            Эталонные детективы, помогающие отвлечься от&nbsp;хандры и&nbsp;ипохондрии. Идеальные случаи, чтобы забыться в&nbsp;захватывающем сюжете.
                        </p>
                    </div>
                    <small class="item-news__date">
                        23.02.2021
                    </small>
                </div>
            </div>
            <div class="news__item item-news">
                <div class="item-news__bg">
                    <img src="./img/news/news2.png" alt="картинка книг" class="item-news__img">
                </div>
                <div class="item-news__text">
                    <div class="item-news__words">
                        <h3 class="item-news__title">
                            Что читать на&nbsp;карантине?
                        </h3>
                        <p class="item-news__descr">
                            Эталонные детективы, помогающие отвлечься от&nbsp;хандры и&nbsp;ипохондрии. Идеальные случаи, чтобы забыться в&nbsp;захватывающем сюжете.
                        </p>
                    </div>
                    <small class="item-news__date">
                        23.02.2021
                    </small>
                </div>
            </div>
            <div class="news__item item-news">
                <div class="item-news__bg">
                    <img src="./img/news/news2.png" alt="картинка книг" class="item-news__img">
                </div>
                <div class="item-news__text">
                    <div class="item-news__words">
                        <h3 class="item-news__title">
                            Что читать на&nbsp;карантине?
                        </h3>
                        <p class="item-news__descr">
                            Эталонные детективы, помогающие отвлечься от&nbsp;хандры и&nbsp;ипохондрии. Идеальные случаи, чтобы забыться в&nbsp;захватывающем сюжете.
                        </p>
                    </div>
                    <small class="item-news__date">
                        23.02.2021
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>