<section class="popular">
    <div class="container-fluid popular__container-fluid">
        <div class="popular__head head-popular main-head">
            <h2 class="head-popular__title main-head__title">
                Recommended
            </h2>
            <a href="#" class="head-popular__link main-head__link">
                All recommended
                <img src="./img/hero/top-arrow.svg" alt="иконка стрелки" class="head-popular__img main-head__img">
            </a>
        </div>
        <div class="popular__main main-popular">
            <div class="swiper-container popular-swiper">
                <div class="swiper-wrapper swiper-popular">
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a path to happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular2.png" alt="картинка книги золушка" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Золушка
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular3.png" alt="картинка книги мастер и маргарита" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Мастер и маргарита
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular4.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular5.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide"> 
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular6.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="swiper-slide popular-slide">
                        <a href="#" class="main-popular__item">
                            <article class="main-popular__article popular-article">
                                <div class="popular-article__bg">
                                    <img src="../img/popular/popular1.png" alt="картинка книги уродина" class="popular-article__img">
                                    <small class="popular-article__text-red">Bestseller</small>
                                    <small class="popular-article__text-green">New</small>
                                    <small class="popular-article__text-blue">-90%</small>
                                </div>
                                <div class="popular-article__content">
                                    <h3 class="popular-article__title">
                                        Ugly, looking for a&nbsp;path to&nbsp;happiness and prosperity
                                    </h3>
                                    <div class="popular-article__bottom">
                                        <small class="popular-article__format">
                                            Paper book, audio, pdf
                                        </small>
                                        <p class="popular-article__author">
                                            Scott Westerfeld
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev slider-hero__prev popular-button-prev"></div>
                <div class="swiper-button-next slider-hero__next popular-button-next"></div>
            </div>
        </div>
    </div>
</section>