<section class="selection">
    <div class="selection__bg">
        <div class="container-fluid selection__container-fluid">
            <div class="selection__main main-selection">
                <div class="swiper-container selection-swiper">
                    <div class="swiper-wrapper swiper-selection">
                        <div class="swiper-slide selection__slide">
                            <div class="selection__item item-selection">
                                <div class="item-selection__bg">
                                    <img src="../img/selections/selections1.png" alt="картинка книг" class="item-selection__img">
                                </div>
                                <p class="item-selection__text">20% discount for all detective books</p>
                            </div>
                        </div>
                        <div class="swiper-slide selection__slide">
                            <div class="selection__item item-selection">
                                <div class="item-selection__bg">
                                    <img src="../img/selections/selections2.png" alt="картинка книг" class="item-selection__img">
                                </div>
                                <p class="item-selection__text">Best psychology books of&nbsp;2020</p>
                            </div>
                        </div>
                        <div class="swiper-slide selection__slide">
                            <div class="selection__item item-selection">
                                <div class="item-selection__bg">
                                    <img src="../img/selections/selections3.png" alt="картинка книг" class="item-selection__img">
                                </div>
                                <p class="item-selection__text">Selection of&nbsp;books by&nbsp;George Orwell</p>
                            </div>
                        </div>
                        <div class="swiper-slide selection__slide">
                            <div class="selection__item item-selection">
                                <div class="item-selection__bg">
                                    <img src="../img/selections/selections4.png" alt="картинка книг" class="item-selection__img">
                                </div>
                                <p class="item-selection__text">The best books for developing children</p>
                            </div>
                        </div>
                        <div class="swiper-slide selection__slide">
                            <div class="selection__item item-selection">
                                <div class="item-selection__bg">
                                    <img src="../img/selections/selections1.png" alt="картинка книг" class="item-selection__img">
                                </div>
                                <p class="item-selection__text">20% discount for all detective books</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next selection-button-next slider-btn-next"></div>
                    <div class="swiper-button-prev selection-button-prev slider-btn-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>