<section class="top100">
    <div class="top100__bg">
        <div class="container-fluid top100__container-fluid">
            <div class="swiper-container top100-swiper">
                <div class="swiper-wrapper top100-wrapper">
                    <div class="swiper-slide top100-slide">
                        <div class="top100-item">
                            <div class="top100-content">
                                <h3 class="top100-title">
                                    Top 10&nbsp;books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; on&nbsp;self-development
                                </h3>
                                <div class="top100-bottom">
                                    <p class="top100-descr">
                                        Лучшая подборка для тех, кто ищет мотивацию именно в&nbsp;книгах
                                    </p>
                                    <a href="#" class="top100-link">Look inside</a>
                                </div>
                            </div>   
                            <div class="top100-bg">
                                <img src="./img/top100/top100-1.png" alt="книги по саморазвитии" class="top100-img">
                            </div>               
                        </div>
                    </div>
                    <div class="swiper-slide top100-slide">
                        <div class="top100-item">
                            <div class="top100-content">
                                <h3 class="top100-title">
                                    Top 10&nbsp;scientific books
                                </h3>
                                <div class="top100-bottom">
                                    <p class="top100-descr">
                                        Лучшая подборка для тех, кто ищет мотивацию именно в&nbsp;книгах
                                    </p>
                                    <a href="#" class="top100-link">Look inside</a>
                                </div>
                            </div>   
                            <div class="top100-bg">
                                <img src="./img/top100/top100-2.png" alt="книги о науке" class="top100-img">
                            </div>               
                        </div>
                    </div>
                    <div class="swiper-slide top100-slide">
                        <div class="top100-item">
                            <div class="top100-content">
                                <h3 class="top100-title">
                                    Top 10&nbsp;books on&nbsp;self-development
                                </h3>
                                <div class="top100-bottom">
                                    <p class="top100-descr">
                                        Лучшая подборка для тех, кто ищет мотивацию именно в&nbsp;книгах
                                    </p>
                                    <a href="#" class="top100-link">Look inside</a>
                                </div>
                            </div>   
                            <div class="top100-bg">
                                <img src="./img/top100/top100-1.png" alt="книги по саморазвитии" class="top100-img">
                            </div>               
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next top100-button-next"></div>
                <div class="swiper-button-prev top100-button-prev"></div>
            </div>
        </div>
    </div>
</section>