<section class="validation">
    <div class="validation__container">
        <div class="validation__toggle toggle-validation">
            <button class="btn-reset toggle-validation__button toggle-validation__button--active">Вход</button>
            <button class="btn-reset toggle-validation__button">Регистрация</button>
        </div>
        <div class="validation__content">
            <form action="" class="validation__form form-validation">
                <div class="form-validation__inputs">
                    <div class="form-validation__div">
                        <label for="" class="form-validation__label">Логин*</label>
                        <input type="text" placeholder="valechka08" class="form-validation__input">
                    </div>
                    <div class="form-validation__div">
                        <label for="" class="form-validation__label">Пароль*</label>
                        <input type="password" placeholder="valechka08" class="form-validation__input">
                    </div>
                </div>
                <button class="btn-reset form-validation__login">Войти</button>
            </form>
            <div class="form-validation__bottom bottom-validation">
                <p class="bottom-validation__text">
                    Забыли пароль?
                </p>
                <a href="#" class="bottom-validation__link">
                    Восстановить
                </a>
            </div>
        </div>
    </div>
    <a href="index.html" class="validation__close"></a>
</section>