<section class="validation">
    <div class="validation__container">
        <div class="validation__toggle toggle-validation">
            <div class="toggle-validation__btns"></div>
            <button class="btn-reset toggle-validation__button toggle-validation__button--active" data-tabs-path="login">Вход</button>
            <button class="btn-reset toggle-validation__button" data-tabs-path="register">Регистрация</button>
        </div>
        <div class="validation__content validation__content--active login" data-tabs-target="login">
            <div>
                <form action="" class="validation__form form-validation">
                    <div class="form-validation__inputs">
                        <div class="form-validation__div">
                            <label for="" class="form-validation__label">Логин*</label>
                            <input type="text" placeholder="valechka08" class="form-validation__input">
                        </div>
                        <div class="form-validation__div">
                            <label for="" class="form-validation__label">Пароль*</label>
                            <input type="password" placeholder="valechka08" class="form-validation__input">
                        </div>
                    </div>
                    <button type="button" class="btn-reset form-validation__login">Войти</button>
                </form>
                <div class="form-validation__bottom bottom-validation">
                    <p class="bottom-validation__text">
                        Забыли пароль?
                    </p>
                    <a href="#" class="bottom-validation__link">
                        Восстановить
                    </a>
                </div>
            </div>
        </div>
        <div class="validation__content registration" data-tabs-target="register">
            <form>
                <div class="stepper-box">
                    <div class="stepper-content active" id="step-1">
                        <form action="" class="form-validation">
                            <div class="form-validation__inputs registration__inputs">
                                <div class="form-validation__div">
                                    <label for="" class="form-validation__label">Имя*</label>
                                    <input type="text" placeholder="Валентина" class="form-validation__input">
                                </div>
                                <div class="form-validation__div">
                                    <label for="" class="form-validation__label">Фамилия*</label>
                                    <input type="text" placeholder="Лихачева" class="form-validation__input">
                                </div>
                            </div>
                            <div class="form-validation__inputs registration__inputs2">
                                <div class="form-validation__div">
                                    <label for="" class="form-validation__label registration__label">Отчество*</label>
                                    <input type="text" placeholder="Владимеровна" class="form-validation__input">
                                </div>
                                <div class="form-validation__div">
                                    <label for="" class="form-validation__label registration__label">Дата рождения (дд&nbsp;/ мм&nbsp;/ гггг)*</label>
                                    <input type="date" placeholder="valechka08" class="form-validation__input">
                                </div>
                            </div>
                            <div class="form-validation__gender gender-form">
                                <legend for="" class="gender-form__title">Ваш пол:</legend>
                                <input id="male" class="gender-form__checkbox" type="checkbox">
                                <label for="male" class="gender-form__label">Мужской</label>
                                <input id="female" class="gender-form__checkbox" type="checkbox">
                                <label for="female" class="gender-form__label">Женский</label>
                            </div>
                            <div class="form-validation__profile-custom custom-profile">
                                <p class="custom-profile__text">
                                    Выберите аватарку профиля:
                                </p>
                                <div class="custom-profile__box">
                                    <input class="btn-reset custom-profile__input" type="file" placeholder="Прикрепить файл">
                                </div>
                            </div>
                            <div class="form-validation__profile-default default-profile">
                                <p class="default-profile__text">
                                    Или выберите готовый:
                                </p>
                                <ul class="default-profile__list list-reset">
                                    <li class="default-profile__item">
                                        <img src="../img/validation/default-prifile1.svg" alt="иконка профиля" class="default-prifile__img">
                                    </li>
                                    <li class="default-profile__item">
                                        <img src="../img/validation/default-prifile2.svg" alt="иконка профиля" class="default-prifile__img">
                                    </li>
                                    <li class="default-profile__item">
                                        <img src="../img/validation/default-prifile3.svg" alt="иконка профиля" class="default-prifile__img">
                                    </li>
                                    <li class="default-profile__item">
                                        <img src="../img/validation/default-prifile4.svg" alt="иконка профиля" class="default-prifile__img">
                                    </li>
                                    <li class="default-profile__item">
                                        <img src="../img/validation/default-prifile5.svg" alt="иконка профиля" class="default-prifile__img">
                                    </li>
                                    <li class="default-profile__item">
                                        <img src="../img/validation/default-prifile6.svg" alt="иконка профиля" class="default-prifile__img">
                                    </li>
                                </ul>
                            </div>
                            <div class="form-validation__acceptance acceptance-form">
                                <input type="checkbox" class="acceptance-form__input">
                                <label for="checkbox" class="acceptance-form__label">Я принимаю условия пользовательского соглашения</label>
                            </div>
                        </form>
                        <button type="button" onclick="switchTab('step-2')" class="registration__next-btn btn-reset form-validation__login">
                            Далее
                        </button>
                    </div>
                    
                    <div class="stepper-content" id="step-2">
                        <form action="" class="validation__form form-validation">
                            <div class="form-validation__inputs">
                                <div class="form-validation__div">
                                    <label for="" class="form-validation__label">Придумайте логин*</label>
                                    <input type="text" placeholder="valechka08" class="form-validation__input">
                                </div>
                                <div class="form-validation__div">
                                    <label for="" class="form-validation__label">Номер телефона или E&nbsp;&mdash; mail*</label>
                                    <input type="password" placeholder="" class="form-validation__input">
                                </div>
                            </div>
                            <button type="button" onclick="switchTab('step-3')" class="btn-reset form-validation__login form-validation__password">Получить пароль</button>
                            <button type="button" onclick="switchTab('step-1')" class=" btn-reset stepper-button form-validation__back">Назад</button>

                        </form>
                    </div>

                    <div class="stepper-content" id="step-3">
                        <form action="" class="validation__form form-validation">
                            <p class="form-validation__red-alert">
                                Внимание! Пароль из&nbsp;сообщения является паролем для входа в&nbsp;ваш аккаунт. Не&nbsp;потеряйте его!
                            </p>
                            <div class="form-validation__div">
                                <label for="" class="form-validation__label">Введите пароль из&nbsp;сообщения*</label>
                                <input type="text" placeholder="valechka08" class="form-validation__input form-validation__input--long">
                            </div>
                            <button type="submit" class="btn-reset form-validation__login form-validation__password">Подвердить</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a href="index.html" class="validation__close"></a>
</section>